.linkMobile {
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none !important;
}

.divBottom {
  display: none !important;
}

.blockMobile {
  display: none !important;
}

.styledBox {
  position: absolute;
  border-top-left-radius: 8;
  border-top-right-radius: 8;
  visibility: visible;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.divMenuOption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

@media screen and (max-width: 850px) {
  .divBottom {
    position: fixed;
    bottom: 4px;
    z-index: 9999999;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .blockMobile {
    display: block !important;
  }
}
