.linkMobile {
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none !important;
}
.divBottom {
  display: none !important;
}
@media screen and (max-width: 850px) {
  .divBottom {
    position: fixed;
    bottom: 4px;
    z-index: 9999999;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
