.clickable {
  cursor: pointer;
  color: #787878;
}

.clickable:hover {
  color: #fff;
}

.divWalletInfo {
  width: 380px;
}
.divSocialMedia {
  width: 380px;
}
@media screen and (max-width: 850px) {
  .divWalletInfo {
    margin-top: 6vh !important;
  }
  .divSocialMedia {
    margin-top: 6vh !important;
  }
}
