.containerAccount {
  background-color: #252525;
  width: auto;
  height: auto;
  min-height: 100vh;
  min-width: 100vw;
}

.gridAccount {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 13vh;
  margin-left: 25vw;
  width: 52vw;
}

.benefitsContainer {
  justify-content: center
}

.boxChangePassWallet {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 3vh;
}

@media screen and (max-width: 850px) {
  .gridAccount {
    display: flex;
    justify-content: center;
    padding-top: 13vh;
    width: auto;
    margin-left: 0;
    padding-bottom: 110px;
  }

  .boxChangePassWallet {
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-content: start !important;
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
  }
}