.boxPrincipalLogin {
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat !important;
  object-fit: cover !important;
  background: radial-gradient(
    circle at center,
    #460036 0,
    #200017,
    #18000ee8 80%
  );
}
.imgLogin {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 85%;
  right: 0;
  top: 0;
  object-fit: 'cover';
}
.loginMobile {
  width: 500px !important;
  position: absolute !important;
  top: 50px !important;
  left: 0px !important;
  margin-left: 7.7vw !important;
}
.boxContenedorFormLogin {
  margin-left: 10vw;
}
.textLogin {
  color: white !important;
  margin-top: 30px !important;
  text-decoration: none !important;
}
.textLoginForgot {
  color: white !important;
  margin-top: 30px !important;
  text-decoration: none !important;
}
@media screen and (max-width: 1300px) {
  .imgLogin {
    width: 150vw !important;
    max-width: 150vh !important;
    position: fixed !important;
  }
}
@media screen and (max-width: 850px) {
  .textLoginForgot {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .imgLogin {
    width: 150vw !important;
    max-width: 150vh !important;
    position: fixed !important;
    right: -200px !important;
  }
}

@media screen and (max-width: 560px) {
  .boxContenedorFormLogin {
    margin-right: 42.5px;
    margin-top: -140px;
  }
  .boxPrincipalLogin {
    width: 432px !important;
    position: fixed !important;
  }
  .imgLogin {
    position: absolute !important;
    width: 700px !important;
    height: 100% !important;
    max-width: 160% !important;
    right: -50px !important;
    top: 0px !important;
    object-fit: cover !important;
  }
  .loginMobile {
    width: 300px !important;
    position: absolute !important;
    top: 30px !important;
    left: 30px !important;
    margin-left: 0px !important;
  }

  .formularioLogin {
    margin-top: 300px !important;
  }
  .textLogin {
    font-size: initial !important;
    margin-top: 10px !important;
  }
  .textLoginForgot {
    display: none;
  }
}
@media screen and (min-width: 319px) and (max-width: 424px) {
  .boxContenedorFormLogin {
    margin-left: 4vw;
  }
  .imgLogin {
    position: absolute !important;
    width: 700px !important;
    height: 100% !important;
    max-width: 160% !important;
    right: 10px !important;
    top: 0px !important;
    object-fit: cover !important;
  }
}
@media screen and (max-width: 768px) and (min-width: 560px) {
  .imgLogin {
    width: 150vw !important;
    max-width: 150vh !important;
    position: fixed !important;
    right: -200px !important;
  }
}
