.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}




  .loginMobile {
    width: 500px!important;
    position: absolute!important;
    top: 50px!important;
    left: 0px!important;
    margin-left:7.7vw!important;
  }


  .imgLogin{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width:85%;
    right: 0;
    top: 0;
    object-fit: 'cover';




    

    
  }
  .textLogin{
    color: white!important;
    margin-top: 30px!important;
    text-decoration: none!important;
  }
  .textLoginForgot{
    color: white!important;
    margin-top: 30px!important;
    text-decoration: none!important;
  }

  
  @media screen and (max-width: 1300px) {
    .imgLogin{
      width: 150vw!important;
    max-width:150vh!important;
    position: fixed!important;
  }}

  
  @media screen and (max-width: 768px) {
    .imgLogin{
      width: 150vw!important;
    max-width:150vh!important;
    position: fixed!important;
    right:  -200px!important;
  }}
 

  @media screen and (max-width: 560px) {
    .loginMobile {
      width: 300px!important;
      position: absolute!important;
      top: 30px!important;
      left: 30px!important;
      margin-left:0px!important;
    }
    .imgTextRegister{

      width: 300px!important;
      position: absolute!important;
      top: 30px!important;
      left: 15px!important;
      margin-left:0px!important;
    }

    .imgLogin{

      position: absolute!important;
      width: 700px!important;
      height: 100%!important;
      max-width: 160%!important;
      right: -50px!important;
      top: 0px!important;
      object-fit: cover!important;
   
    }
    .boxPrincipalLogin{
      width: 432px!important;
      position: fixed!important;
    }
    .formularioLogin{
      margin-top: 300px!important;
      
    }
    .botonesLogin{
      display: flex!important;
      justify-content: space-between!important;
      align-items: center!important;
      width: 350px!important;
      height: 15px!important;
    }
    .textLogin{
      font-size: initial!important;
      margin-top: 10px!important;
    }
    .textLoginForgot{
      display: none;
    }

    .boxContenedorForm{
      margin-right: 42.5px;
      margin-top: -140px;
    }
    .buttonWallet{
      margin-right: 220px!important;
      font-size: xx-small!important;
    padding-right: 0px!important;
    width: 174px!important;
    padding-left: 0px!important;
    }
    
    .imgTextRegister2{

      width: 250px!important;
      position: absolute!important;
      top: 250px!important;
      left:0px!important;
      margin-left: 15vw!important;
      display: none!important;
    }
    .imgRegister{
      position: absolute!important;
    width: 140%!important;
    height: 100%!important;
    object-fit: cover!important;
    right: 0px!important;
    max-width: 165%!important;
    bottom: 0px!important;
    }
    .txtEmailForgotPass{

      width: 400px!important;
    }
    .containerForgorPass{
      margin-left: 0px!important;
      width: 400px!important;
    }
    .txtCapchat{
      display: none!important;
    }
       
  }